---
http_interactions:
- request:
    method: get
    uri: https://www.federalregister.gov/api/v1/documents.json?conditions%5Bpresident%5D%5B0%5D=donald-trump&conditions%5Bpresidential_document_type%5D%5B0%5D=executive_order&order=newest&per_page=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"count":302,"description":"Documents signed by Donald Trump and of
        presidential document type Executive Order","total_pages":50,"next_page_url":"https://www.federalregister.gov/api/v1/documents?conditions%5Bpresident%5D%5B%5D=donald-trump&conditions%5Bpresidential_document_type%5D%5B%5D=executive_order&format=json&order=newest&page=2&per_page=5","results":[{"title":"Amendment
        to Duties To Address the Situation at Our Southern Border","type":"Presidential
        Document","abstract":null,"document_number":"2025-03729","html_url":"https://www.federalregister.gov/documents/2025/03/06/2025-03729/amendment-to-duties-to-address-the-situation-at-our-southern-border","pdf_url":"https://www.govinfo.gov/content/pkg/FR-2025-03-06/pdf/2025-03729.pdf","public_inspection_pdf_url":"https://public-inspection.federalregister.gov/2025-03729.pdf?1741182316","publication_date":"2025-03-06","agencies":[{"raw_name":"EXECUTIVE
        OFFICE OF THE PRESIDENT","name":"Executive Office of the President","id":538,"url":"https://www.federalregister.gov/agencies/executive-office-of-the-president","json_url":"https://www.federalregister.gov/api/v1/agencies/538","parent_id":null,"slug":"executive-office-of-the-president"}],"excerpts":null},{"title":"Amendment
        to Duties To Address the Flow of Illicit Drugs Across Our Northern Border","type":"Presidential
        Document","abstract":null,"document_number":"2025-03728","html_url":"https://www.federalregister.gov/documents/2025/03/06/2025-03728/amendment-to-duties-to-address-the-flow-of-illicit-drugs-across-our-northern-border","pdf_url":"https://www.govinfo.gov/content/pkg/FR-2025-03-06/pdf/2025-03728.pdf","public_inspection_pdf_url":"https://public-inspection.federalr[...]
