---
http_interactions:
- request:
    method: get
    uri: https://www.federalregister.gov/api/v1/documents.json?conditions%5Bpresident%5D%5B0%5D=donald-trump&conditions%5Bpresidential_document_type%5D%5B0%5D=executive_order&order=newest&per_page=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"count":297,"description":"Documents signed by Donald Trump and of
        presidential document type Executive Order","total_pages":50,"next_page_url":"https://www.federalregister.gov/api/v1/documents?conditions%5Bpresident%5D%5B%5D=donald-trump&conditions%5Bpresidential_document_type%5D%5B%5D=executive_order&format=json&order=newest&page=2&per_page=5","results":[{"title":"Implementing
        the President''s \"Department of Government Efficiency\" Cost Efficiency Initiative","type":"Presidential
        Document","abstract":null,"document_number":"2025-03527","html_url":"https://www.federalregister.gov/documents/2025/03/03/2025-03527/implementing-the-presidents-department-of-government-efficiency-cost-efficiency-initiative","pdf_url":"https://www.govinfo.gov/content/pkg/FR-2025-03-03/pdf/2025-03527.pdf","public_inspection_pdf_url":"https://public-inspection.federalregister.gov/2025-03527.pdf?1740759309","publication_date":"2025-03-03","agencies":[{"raw_name":"EXECUTIVE
        OFFICE OF THE PRESIDENT","name":"Executive Office of the President","id":538,"url":"https://www.federalregister.gov/agencies/executive-office-of-the-president","json_url":"https://www.federalregister.gov/api/v1/agencies/538","parent_id":null,"slug":"executive-office-of-the-president"}],"excerpts":null},{"title":"Making
        America Healthy Again by Empowering Patients With Clear, Accurate, and Actionable
        Healthcare Pricing Information","type":"Presidential Document","abstract":null,"document_number":"2025-03440","html_url":"https://www.federalregister.gov/documents/2025/02/28/2025-03440/making-america-healthy-again-by-empowering-patients-with-clear-accurate-and-actionable-healthcare","pdf_url":"https://www.govinfo.gov/content/pkg/FR-2025-02-28/pdf/2025-03440.pdf","public_inspe[...]
