---
http_interactions:
- request:
    method: get
    uri: https://www.federalregister.gov/api/v1/documents/2025-03527.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"abstract":null,"action":null,"agencies":[{"raw_name":"EXECUTIVE OFFICE
        OF THE PRESIDENT","name":"Executive Office of the President","id":538,"url":"https://www.federalregister.gov/agencies/executive-office-of-the-president","json_url":"https://www.federalregister.gov/api/v1/agencies/538","parent_id":null,"slug":"executive-office-of-the-president"}],"body_html_url":"https://www.federalregister.gov/documents/full_text/html/2025/03/03/2025-03527.html","cfr_references":[],"citation":"90
        FR 11095","comment_url":null,"comments_close_on":null,"correction_of":null,"corrections":[],"dates":null,"disposition_notes":"See:
        EO 14158, January 20, 2025","docket_ids":[],"dockets":[],"document_number":"2025-03527","effective_on":null,"end_page":11097,"executive_order_notes":"See:
        EO 14158, January 20, 2025","executive_order_number":"14222","explanation":null,"full_text_xml_url":"https://www.federalregister.gov/documents/full_text/xml/2025/03/03/2025-03527.xml","html_url":"https://www.federalregister.gov/documents/2025/03/03/2025-03527/implementing-the-presidents-department-of-government-efficiency-cost-efficiency-initiative","images":{"TRUMP":{"large":"https://img.federalregister.gov/TRUMP/TRUMP_large.png","original_size":"https://img.federalregister.gov/TRUMP/TRUMP_original_size.png"}},"images_metadata":{"TRUMP":{"large":{"identifier":"TRUMP","content_type":"image/png","size":4837,"width":278,"sha":"e76cde96299eaa37d682560f39698be8","url":"https://img.federalregister.gov/TRUMP/TRUMP_large.png","height":209},"original_size":{"identifier":"TRUMP","content_type":"image/png","size":2334,"width":494,"sha":"11642e3879ff805f30105d2de6901584","url":"https://img.federalregister.gov/TRUMP/TRUMP_original_size.png","height":371}}},"json_url":"https://www.federalregister.gov/api/v1/documents/2025-03527?publication_date=2025-03-03","mods_url":"https://www.govinfo.gov/metadata/granule/FR-2025-03-03/2025-03527/mods.xml","not_received_for_publication":null,"page_length":3,"page_views":{"count":8931,"last_updated":"2025-03-05
        20:15:04 -0500"},"pdf_url":"https://www.govinfo.gov/content/pkg/FR-2025-03-03/pdf/2025-03527.pdf","presidential_document_number":"14222","proclamation_number":null,"public_inspection_pdf_url":"https://public-inspection.federalregister.gov/2025-03527.pdf?1740759309","publication_date":"2025-03-03","raw_text_url":"https://www.federalregister.gov/documents/full_text/text/2025/03/03/2025-03527.txt","regulation_id_number_info":{},"regulation_id_numbers":[],"regulations_dot_gov_info":{"checked_regulationsdotgov_at":"2025-03-01T09:03:38Z"},"regulations_dot_gov_url":null,"significant":null,"signing_date":"2025-02-26","start_page":11095,"subtype":"Executive
        Order","title":"Implementing the President''s \"Department of Government Efficiency\"
        Cost Efficiency Initiative","toc_doc":"President''s \"Department of Government
        Efficiency\" Cost Efficiency Initiative; Implementation (EO 14222)","toc_subject":"Government
        Agencies and Employees","topics":[],"type":"Presidential Document","volume":90}'
  recorded_at: Thu, 06 Mar 2025 03:12:11 GMT
recorded_with: VCR 6.3.1
